@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,600,700,800,800i,900');

/* CSS Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

  /* Custom Styles */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', georgia, 'Times New Roman';
}

h5 {
  font-family: 'Libre Franklin', georgia, 'Times New Roman';
  font-size: 10px;
  font-weight: 800;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.page {
  box-shadow: -3px 0 10px #DCDCDC;
  margin-left: 2vw;
}

.logo {
  height: 26px;
}

  /* Icons */

.icon {
  background-image: url(https://a1.nyt.com/assets/article/20170424-182737/images/sprite/sprite-no-repeat.svg);
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  width: 16px;
}

.icon-bars {
  background-position: -444px -215px;
}

.icon-logo {
  background-position: -51px -280px;
}

.icon-search {
  background-position: -357px -215px;
}

.icon-menu {
  background-position: -494px -215px;
}

.icon-mail {
  background-position: -131px -21px;
  height: 25px;
  width: 25px;
}

.icon-mail:hover {
  background-position: -183px -21px;
  cursor: pointer;
}

.icon-bookmark {
  height: 25px;
  width: 16px;
  background-position: -306px -214px;
}

.icon-bookmark:hover {
  background-position: -340px -214px;
  cursor: pointer;
}

.icon-delivery {
  background-position: -220px -54px;
}

.icon-logo-black {
  background-position: -35px -280px;
}

.icon-logo-alt {
  background-position: -112px -280px;
}

.icon-crossword {
  background-position: -349px 0;
}


  /* Navigation */

nav {
  background-color: white;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 3px 5px #DCDCDC;
  color: #333;
  height: 48px;
  font-size: 11px;
  font-weight: 700;
  left: 2vw;
  padding-top: 7.5px;
  position: fixed;
  right: 0;
  text-transform: uppercase;
  top: 0;
}

nav a {
  color: #333;
  text-decoration: none;
}

button {
  border-radius: 3px;
  height: 30px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

.nav-left {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

.nav-left button {
  background-color: white;
  border: 1px solid #DCDCDC;
  box-shadow: 0 3px 5px #DCDCDC;
  margin-left: -14px;
  padding: 7px 11px;
}

#home {
  margin: 0 20px;
}

.nav-middle {
  display: inline-block;
  padding-left: 18px;
  padding-top: 4px;
  vertical-align: top;
  width: 40%;
}

.nav-right {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 20%;
}

.nav-right button:first-child {
  background-color: #6288a5;
  border: 1px solid #4d7b9f;
  color: white;
  padding: 7px;
}

.nav-right button:last-child {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin: 0 7px 0 12px;
  padding: 0;
}

.news-top {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 3px 5px #DCDCDC;
  color: #333;
  height: 130px;
  font-family: georgia, 'Times New Roman';
  font-size: 14px;
  padding: 51px 10px 10px 10px;
  overflow: hidden;
}

.news-container {
  height: 75px;
  width: 2200px;
}

.news-item {
  border-right: 1px solid #ccc;
  color: #333;
  display: inline-block;
  height: 75px;
  margin-right: 5px;
  padding-top: 4px;
  text-decoration: none;
  vertical-align: top;
  width: 240px;
}

.news-item img {
  height: 65px;
  float: left;
  margin-right: 10px;
  width: 65px;
}

.news-item h5 {
  font-size: 9px;
  text-transform: uppercase;
}

.news-item:hover h6 {
  text-decoration: underline;
}


  /* header */

section {
  margin-left: 4vw;
  margin-right: 6vw;
}

header {
  border-top: 1px solid black;
  margin-top: 3px;
  margin-bottom: 40px;
}

a.header-category {
  color: black;
  display: inline-block;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: .5px;
  margin-top: 10px;
  text-decoration: none;
}

a.header-category:hover {
  text-decoration: underline;
}

header h1 {
  border-bottom: 1px solid #ccc;
  display: block;
  font-family: 'times new roman', serif;
  font-size: 35px;
  font-style: italic;
  margin: 30px 0 20px 0;
  padding-bottom: 15px;
}

.header-footer {
  height: 40px;
}

header p {
  display: inline-block;
  font-family: 'times new roman', serif;
  font-size: 10px;
  vertical-align: middle;
  width: 50%;
}

header p span:first-child {
  font-weight: 700;
  margin-right: 10px;
}

.header-icons {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 50%;
}

.middle-icon {
  border-left: 1px solid #ccc;
  margin: 0 15px 0 10px;
  padding-left: 10px;
}

.bubble {
  border: 1px solid #777;
  border-radius: 5px;
  display: inline-block;
  font-size: 11px;
  padding: 6px;
}

.bubble:hover {
  background-color: #333;
  color: white;
  cursor: pointer;
}

header img {
  width: 100%;
}

header figcaption {
  color: #666;
  font-family: 'times new roman', serif;
  font-size: 15px;
  line-height: 18px;
  margin-top: 6px;
  width: 55%;
}

header figcaption small {
  color: #999;
  font-size: 12px;
}

  /* Article */

article {
  font-family: georgia, 'Times New Roman';
  font-size: 17px;
  line-height: 26px;
  margin: 0 auto 50px auto;
  max-width: 705px;
}

article a {
  color: #326891;
}

article a:visited {
  color: #326891;
}

.article-text {
  margin: 0 auto;
  width: 570px;
}

article p {
  margin-bottom: 18px;
}


article h3 {
  font-weight: 600;
  margin-bottom: 18px;
}

.explain {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #666;
  font-family: 'times new roman', serif;
  font-size: 15px;
  margin: 40px 0 20px 0;
  max-width: 945px;
}

.explain h3 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
}

.explain img {
  width: 100%;
}

.img-container {
  background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

@media (max-width: 999px) {
  .img-container {
    background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-720.png");
  }
}

.img-container .tiles-row:first-child {
  padding: 150px 0 150px 0;
}

.tiles {
  color: black;
  display: inline-block;
  font-family: 'Libre Franklin', georgia, 'Times New Roman';
  font-size: 12px;
  line-height: 18px;
  padding-right: 15px;
  vertical-align: top;
  width: 25%;
}

.tiles h5 {
  display: inline;
  padding-right: 5px;
}

.tiles-row-1 .tiles:last-child {
  padding-right: 0;
  padding-left: 15px;
}

.tiles-row-2 .tiles:last-child {
  padding-right: 0;
  padding-left: 15px;
}

.explain-by {
  color: #999;
  font-family: 'Libre Franklin', georgia, 'Times New Roman';
  font-size: 10px;
  margin: 20px 0;
}

.media-container {
  color: #666;
  font-family: 'Libre Franklin', georgia, 'Times New Roman';
  font-size: 12px;
  line-height: 16px;
}

.media-container small {
  color: #999;
  font-size: 10px;
}

article figure {
  margin: 20px 0 40px 0;
  max-width: 645px;
}

article figure img {
  width: 100%;
}

article hr {
  display: inline-block;
  width: 60px;
}

article h6 {
  color: #999;
  font-family: 'Libre Franklin', georgia, 'Times New Roman';
  font-size: 10px;
  line-height: 14px;
}

article h6 a {
  color: #999;
  text-decoration: none;
}

article h6 a:hover {
  text-decoration: underline;
}

article h6 a:visited {
  color: #999;
}

  /* Additional info section */

.more {
  display: inline-block;
  font-family: 'Times New Roman', georgia;
  vertical-align: top;
  width: 63%;
}

.more a {
  color: black;
  text-decoration: none;
}

.more-tile:hover {
  text-decoration: underline;
}

.more h2 {
  font-family: 'Libre Franklin', georgia, 'Times New Roman';
  font-weight: 700;
}


.more-header {
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.more-header a {
  color: #6288a5;
  display: inline-block;
  font-family: 'Libre Franklin', georgia, 'Times New Roman';
  font-size: 10px;
  text-align: right;
  vertical-align: middle;
  width: 50%;
}

.more-header a:visited {
  color: #326891;
}

.more-header a:hover {
  text-decoration: underline;
}

.more-header h2 {
  color: black;
  font-size: 16px;
  text-align: left;
}

.more-tiles {
  margin-bottom: 20px;
  margin-right: -6%;
}


.more-tile {
  display: inline-block;
  line-height: 18px;
  margin-bottom: 20px;
  min-width: 170px;
  padding-right: 5%;
  vertical-align: top;
  width: 33%;
}

.more-tile img {
  width: 100%;
}

  /* Aside */

aside {
  border-top: 1px solid #ccc;
  display: inline-block;
  height: 300px;
  margin-left: 5%;
  vertical-align: top;
  width: 32%;
}

aside h5 {
  margin: 10px 0;
}


aside ul {
  font-family: 'Times New Roman', georgia;
}

aside a {
  text-decoration: none;
  width: calc(100%-20px);
}

aside a:hover p {
  text-decoration: underline;
}

aside ul img {
  height: 40px;
  text-align: right;
  width: 40px;
}

aside li {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.list-count,
aside li p,
aside li img {
  display: inline-block;
  vertical-align: top;
}

aside li p {
  color: #326891;
  font-size: 14px;
  width: calc(100% - 65px);
}

.list-count {
  line-height: 20px;
  padding-top: 5px;
  text-align: center;
  transform         :scale(1,1.5);
  -webkit-transform :scale(1,1.5); /* Safari and Chrome */
      -moz-transform:scale(1,1.5); /* Firefox */
      -ms-transform :scale(1,1.5); /* IE 9+ */
        -o-transform:scale(1,1.5); /* Opera */
  width: 20px;
}

  /* Footer */

footer {
  border-top: 2px solid #ccc;
  font-family: 'Libre Franklin', georgia, 'Times New Roman';
  margin: 100px auto 0 auto;
  max-width: 1050px;
}

.footer-head {
  border-top: 1px solid #ccc;
  margin-top: 1px;
  margin-bottom: 30px;
  padding-top: 10px;
}

.footer-head a {
  color: #6288a5;
  display: inline-block;
  font-size: 10px;
  text-align: right;
  text-decoration: none;
  vertical-align: middle;
  width: 50%;
}

.footer-head a:visited {
  color: #326891;
}

.footer-head a:hover {
  text-decoration: underline;
}

.footer-head a:first-child {
  text-align: left;
}

.footer-section {
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
  width: 16.6%;
}

.footer-sections li {
  margin: 10px 0;
}

.footer-sections h5 {
  color: #333;
  font-size: 12px;
  margin-bottom: 15px;
}

.footer-sections a {
  color: black;
  text-decoration: none;
}

.footer-sections a:hover {
  text-decoration: underline;
}

.subscribe {
  border-left: 1px solid #ccc;
  display: inline-block;
  height: 100%;
  font-size: 10px;
  padding-left: 10px;
  vertical-align: top;
  width: 17%
}

.subscribe h6 {
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  margin-left: 5px;
}

.subscribe-middle {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  width: 100%;
}

.footer-foot {
  border-top: 1px solid #ccc;
  font-size: 10px;
  margin-top: 30px;
  padding: 8px 0 15px 0;
}

.footer-foot a {
  color: #999;
  border-right: 1px solid #ccc;
  padding: 0 4px;
  text-decoration: none;
}

.footer-foot a:first-child {
  padding-left: 0;
}

.footer-foot a:last-child {
  border-right: none;
  padding-right: 0;
}

.footer-foot a:hover {
  text-decoration: underline;
}

.foot-left {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}

.foot-right {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 25%;
}

@media (max-width: 1048px) {
  .foot-left,
  .foot-right {
    text-align: center;
    display: block;
    width: 100%;
  }

  .foot-right {
    margin-top: 15px; 
  }
}
